@model VKR_Poom_Reserving.Models.LoginViewModel
    <div class="text-right">
        <h1>Login</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
        <form asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@Model.ReturnUrl">

                <div class="mb-3">
                    <label asp-for="Email"></label><br />
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password"></label><br />
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <label asp-for="RememberMe"></label><br />
                    <input asp-for="RememberMe" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
