@model VKR_Poom_Reserving.Models.ReserveViewModel
@{
    ViewData["Title"] = "Зарезервировать комнату";
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="AddReserve" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="SelectedRoomId"></label>
                <select asp-for="SelectedRoomId" asp-items="Model.Rooms" class="custom-select"></select>
                <span asp-validation-for="SelectedUserId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="StartTime"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="EndTime"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Сохранить</button>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}