@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h4>@ViewData["Title"]</h4>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Чтобы подтвердить аккаунт, <a id="confirm-link" href="@Model.EmailConfirmationUrl">перейдите по этой ссылке.</a>
</p>
    }
    else
    {
<p>
        Проверьте почтовый ящик.
</p>
    }
}

